Lab7/.vs/Lab7/CopilotIndices/0.2.1648.49400/CodeChunks.db
*.db-shm
*.db-wal
*.db
Lab7/.vs/Lab7/v17/.suo
*.ipch
*.ilk
*.obj
*.tlog
*.idb
*.pdb
*.exe
Project2/.vs/Project2/v17/.suo
*.vsidx
Final part 2/Final part 2.vcxproj.user
/Final part 2/Final part 2/x64/Debug
Final part 2/Final part 2.vcxproj.filters
Final part 2/Final part 2.vcxproj
Final part 2/Final part 2.cpp
Final part 2/Deck.cpp
Final part 2/Final part 2.cpp
Final part 2/Deck.cpp
Final part 2/Final part 2.vcxproj
Final part 2/Final part 2.cpp
Final part 2/Deck.cpp
Final part 2/.vs/Final part 2/v17/.suo
Final part 2/Final part 2.vcxproj
Final part 2/.vs/Final part 2/v17/.suo
Final part 1/.vs/Final part 1/v17/Browse.VC.opendb
